@import './bootstrap/bootstrap.scss';
@import './iconic/css/open-iconic-bootstrap.scss';

/* fills */
$success-color: #47D09D; // green
$fill-highlight: $primary; // blue
$fill-highlight-lighter: #f0f8ff;
$fill-star: #F5A623; // gold
$fill-price-range: #AADD74; // light green
$fill-dark-grey: #4D4E52;
$fill-light-grey: #EAEAEA;
$fill-lighter-grey: #FAFAFA;
$fill-white: #FFFFFF;
$fill-none: transparent;

/* text */
$text-default: $fill-dark-grey;
$text-highlight: $fill-highlight; // blue
$text-star: $fill-star; // gold
$text-price-range: $fill-price-range; // light green
$text-medium-grey: #7A7A7A;
$text-light-grey: #AAAAAA;
$text-white: $fill-white;

/* links */
$link-default: $text-highlight;

/* borders */
$border-grey: #DADADA;
$border-dark-grey: #AAAAAA;
$border-light-grey: #EAEAEA;

body,
html,
.router-wrapper,
#root {
  height: 100%;
  background-color: $fill-lighter-grey;
  color: $text-default;
  font-weight: lighter;
}
.main-content-wrapper {
  padding-top: 20px;
  &.loading {
    
  }
}

.main-nav {
  background-color: $fill-white;
  border-bottom: 1px solid $border-grey;
}

.content-wrapper {
  padding: 40px;
  background-color: $fill-white;
  border: 1px solid $border-grey;
}

.feed-card {
  background-color: $fill-white;
  border: 1px solid $fill-highlight;
  border-bottom-width: 1px;
  &.settled {
    border-color: $success-color;
  }
  .card-header {
    background-color: $fill-highlight;
    color: $text-medium-grey;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.loading-bar {
  &:after {
    content: "";
    height: 3px;
    background: $fill-highlight;
    position: fixed;
    width: 40px;
    animation: loader 2s infinite;
    top: 0px;
    margin-left: 0;
    z-index: 999;
  }

}
@keyframes loader {
    0% {width: 0%;left:0;right:0}
    50% { width: 100%;left:0;right:0}
    99% { width: 0%;left:100%;right:0}
}

@-webkit-keyframes loader {
    0% {width: 0%;left:0;right:0}
    50% { width: 100%;left:0;right:0}
    99% { width: 0%;left:100%;right:0}
}
