body,
html,
.router-wrapper,
#root {
  height: 100%;
}
.main-content-wrapper {
  padding-top: 80px;
}

.user-side-nav {
  border-right: 1px solid #ccc;
  @media (min-width: 768px) {
    height: calc(100vh - 80px);
  }
}
